@import "./normalize";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before{
  margin: 0;
  padding: 0;
}

body{
  margin-top: 4rem;
}

.fa-brands{
  color: gray;
  font-size: 1.3rem;
}


.header__body{
  background-color: tomato;
  height:4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}


.main__header{
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid tomato 2px;
  margin-bottom: .5rem;
}

.main__main{
  padding: .5rem .8rem;
  display: grid;
  grid-template-columns: 1fr;

  @media only screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.wrapper{
  width: 70%;
  margin: auto;
}

.search__form{
  width: 60%;
  margin: auto;
  display: flex;
}

.search__btn{
  border: 0;
  outline: 0;
  background: 0;
  margin-left: .5rem;
  
  i {
    position: absolute;
    top: 0;
    margin-top: 1.4rem;
    left: 65%;

    @media only screen and (min-width: 768px){
      left: 69%;
    }
  }
}

.search__input{
  flex-grow: 1;
  height: 2em;
  border: none;
  outline: none;
  padding: 0 .5rem;
  border-radius: 10px;
}


.card{
  width: 200px;
  height: 300px;
  border: solid 1px tomato;
  border-radius: 5px;
  padding: 10px 0;
  background-color: rgba($color: gray, $alpha: .1);
  margin: 1rem auto;
  &__cover{
    width: 95%;
    margin: auto;
  
    img{
      width: 100%;
      
    }
  }


  &__album{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;

    p{
      text-align: center;
    }
  }
}